main {
    width: 300px;
}

.button-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/*
#input{
  width: 100%;
  grid-row-start:2;
  grid-row-end:3;
  grid-column-start:2;
  grid-column-end:6;
  text-align: right;
  background-color: black;    
}

#number1{
  grid-row-start:4;
  grid-row-end:5;
  grid-column-start:2;
  grid-column-end:3;
}

#number2{
  grid-row-start:4;
  grid-row-end:5;
  grid-column-start:3;
  grid-column-end:4;
}

#number3{
  grid-row-start:4;
  grid-row-end:5;
  grid-column-start:4;
  grid-column-end:5;
}

#button1{
  grid-row-start:4;
  grid-row-end:5;
  grid-column-start:5;
  grid-column-end:6;
}

#number4{
  grid-row-start:5;
  grid-row-end:6;
  grid-column-start:2;
  grid-column-end:3;
}

#number5{
  grid-row-start:5;
  grid-row-end:6;
  grid-column-start:3;
  grid-column-end:4;
}

#number6{
  grid-row-start:5;
  grid-row-end:6;
  grid-column-start:4;
  grid-column-end:5;
}

#button2{
  grid-row-start:5;
  grid-row-end:6;
  grid-column-start:5;
  grid-column-end:6;
}

#number7{
  grid-row-start:6;
  grid-row-end:7;
  grid-column-start:2;
  grid-column-end:3;
}

#number8{
  grid-row-start:6;
  grid-row-end:7;
  grid-column-start:3;
  grid-column-end:4;
}

#number9{
  grid-row-start:6;
  grid-row-end:7;
  grid-column-start:4;
  grid-column-end:5;
}

#button3{
  grid-row-start:6;
  grid-row-end:7;
  grid-column-start:5;
  grid-column-end:6;
}

#number0{
  grid-row-start:7;
  grid-row-end:8;
  grid-column-start:2;
  grid-column-end:3;
}

#ac{
  grid-row-start:7;
  grid-row-end:8;
  grid-column-start:3;
  grid-column-end:4;
}

#button5{
  grid-row-start:7;
  grid-row-end:8;
  grid-column-start:4;
  grid-column-end:5;
}

#button6{
  grid-row-start:7;
  grid-row-end:8;
  grid-column-start:5;
  grid-column-end:6;
}
*/